/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
}

.flex {
  display: flex !important;
  gap: 1rem;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}
