<div class="main-admin">
  <mat-card class="adimn-tools">
    <button mat-raised-button color="accent">
      <span>Add Service</span>
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-raised-button color="accent">
      <span>Add Personnel</span>
      <mat-icon>person</mat-icon>
    </button>
    <button mat-raised-button color="accent">
      <span>Add User</span>
      <mat-icon>add</mat-icon>
    </button>
  </mat-card>
  <div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Code Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>

      <!-- Questions Column -->
      <ng-container matColumnDef="questions">
        <th mat-header-cell *matHeaderCellDef> Questions </th>
        <td mat-cell *matCellDef="let element"> {{element.questions.length}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="controls">
      <button mat-flat-button color="warn">
        <span>Delete Selected</span>
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-flat-button color="accent">
        <span>Disable selected</span>
        <mat-icon>stop</mat-icon>
      </button>
    </div>
  </div>
</div>
