<mat-card>
  <mat-card-header class="card-header">Login Now!</mat-card-header>
  <br>
  <mat-card-content>
    <form class="form" (ngSubmit)="loginUser($event)">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" [formControl]="email" required matInput placeholder="EX: John@email.com">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" [formControl]="password" required matInput placeholder="Enter your password">
      </mat-form-field>
      <mat-error *ngIf="email.invalid || password.invalid">{{getError()}}</mat-error>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Login</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
